<?xml version="1.0" encoding="utf-8"?>
<!-- package name must be unique so suffix with "tests" so package loader doesn't ignore us -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dove.reader.tests" >

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <!--
    This declares that this app uses the instrumentation test runner targeting
    the package of com.dove.reader. To run the tests use the command:
    "adb shell am instrument -w com.dove.reader.tests/android.test.InstrumentationTestRunner"    -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for Reader."
        android:targetPackage="com.dove.reader" />

</manifest>